#hamburger-wrapper {
  display: block;
}

#hamburger-icon {
  display: flex;
  padding-top: 30px;
  margin-right: 10px;
  width: 2rem;
  height: 2rem;
  font-size: 150%;
  position: relative;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;  
}

#close {
  display: none;
}

#m-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  padding: 0px;
  z-index: 2;
}

#m-nav-header {
  z-index: 2;
  padding-top: 20px;
  display: block;
  position: relative;
  padding-left: 15px;
  text-decoration: unset;
  color: black;
}

#m-nav-items {
  display: none;
  position: absolute;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width: 100%;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}

#m-nav-pages:hover #slide {
  transition: 2s;
  left: -100;
}

/* .nav-open {
  transition: 0.5s;
  color: white!important;
  text-shadow: unset!important;
} */

#m-nav-name {
  font-size: 150%;
  font-weight: 100;
}

/* #m-nav-title {
  font-style: italic;
} */

#m-nav-pages {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 5px;
  font-size: 150%;
  font-weight: 100;
}

#m-nav-pages * {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: black;
  padding: 5px 10px 6px 10px;
  font-size: 100%;
}