#nav {
  display: flex;
  padding: 20px 50px;
  width: 100%;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  z-index: 2;
}

#nav-header {
  display: block;
  position: relative;
  padding-left: 15px;
  text-decoration: unset;
  color: black;
}

#nav-name {
  font-size: 150%;
  font-weight: 100;
}

#nav-pages {
  padding: 5px 0px;
  border-radius: 1rem;
}

#nav-pages * {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0px 15px;
  font-weight: 100;
  font-size: 100%;
  transition: transform;
}

#nav-pages *:hover {
  transform: scale(1.2);
}