#nav {
  display: flex;
  padding: 20px 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: #eeeeee;
  z-index: 2;
}

#nav-header {
  display: block;
  position: relative;
  padding-left: 15px;
  text-decoration: unset;
  color: black;
}

/* .nav-white {
  transition: 0.5s;
  color: white;
  text-shadow: 3px 2px 20px black;
}

.nav-black {
  transition: 0.5s;
  color: #546b60;
  text-shadow: unset;
} */

#nav-name {
  font-size: 150%;
  font-weight: 100;
}

/* #nav-title {
  font-style: italic;
} */

#nav-pages {
  padding: 5px 0px;
  border-radius: 1rem;
}

#nav-pages * {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0px 15px;
  font-weight: 100;
  font-size: 100%;
  transition: transform;
}

#nav-pages *:hover {
  transform: scale(1.2);
}

/* .selected-nav {
  transform: scale(1.3);
} */